
body{
    font-family: 'Roboto Mono',monospace;
    min-height: 600px;
    background-image: url('https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-03-mentalista.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: 3px 3px 0;
    background-color:  #000000;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .page-title {
      color: #ffffff;
      margin: 0 0 5px;
    }
  .page-logo {
      width: 200px;
    }
    
  
  p{
      font-size: 20px;
      color: yellow;
      margin: 10px;
  
  }
  .information{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(2, 65, 117, 0.37);
      border: 5px solid rgb(0, 26, 48);
      border-radius: 5px;
      margin: 10px;
      height: 180px;
      width: 450px;
  }
  
  h2{
      color: white;
      display: flex;
      font-family:'Roboto Mono',monospace;
      margin-bottom: 1px;
      font-size: 20px;
      margin-bottom: 10px;
     
  }
  
  input{
      font-family: 'Press Start 2P', cursive;
      text-align: center;
      margin-top: 5px;
      height: 23px;
      width: 270px;
      border-radius: 0;
      border: 2px solid #790320;
  
  }
  #botao-confirmar{
      font-family: "Bangers", cursive;
      height: 30px;
      width: 277px;
      border-radius: 0px;
      border: none;
      background-color: #000000;
      color: #790320;
      font-size: 20px;
      margin-top: 6px;
      box-shadow: 3px 3px;
      transition: transform 117ms ease-in-out;
  }
  #botao-confirmar:hover{
      transform: scale(1.05);
  
  }
  #reset{
      font-size: 15px;
      font-family: "Bangers", cursive;
      margin-top: 15px;
      padding: 2px 7px;
      border-radius: 0px;
      border: none;
      background-color: #790320;
      box-shadow: 3px 3px;
      transition: transform 112ms ease-in-out
  }
  #reset:hover{
      transform: scale(1.05);
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .alura-logo {
      width: 40px;
      position: absolute;
      top: 10px;
      right:10px;
  }
  